*{
    font-family: sans-serif,'Courier New', Courier, monospace;
    padding: 0%;
    margin: 0%;
}
nav a, .lista_descripcion, .lista_precio, .lista h2{
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 0 15px;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 2px 0px 0px #000000,
                 0px 2px 0px #000000,
                 -2px 0px 0px #000000,
                 0px -2px 0px #000000;
}

.navbar{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 99%;
    background: url(https://media.istockphoto.com/photos/barber-pole-barbershop-pole-on-a-wooden-background-with-copy-space-picture-id1292922269?k=20&m=1292922269&s=612x612&w=0&h=jd7XHDLbQowXdI4NfThTAhlS8Ejq5tQqOjBK4pjeDvI=);
}

@media (max-width: 500px) {
    .navbar{
        display: block;
        width: 99%;
        text-align: center;
        background: url(https://media.istockphoto.com/photos/barber-pole-barbershop-pole-on-a-wooden-background-with-copy-space-picture-id1292922269?k=20&m=1292922269&s=612x612&w=0&h=jd7XHDLbQowXdI4NfThTAhlS8Ejq5tQqOjBK4pjeDvI=);
    }
}
.navbar_links a{
    /* Contornear el texto */
    text-shadow: 1px 0px 0px #ffffff,
                 0px 1px 0px #ffffff,
                 -1px 0px 0px #ffffff,
                 0px -1px 0px #ffffff;
}
.navbar_links{
    text-align: center;
    margin-top: 127px;
    padding: 20px 180px 20px 0; 
}
@media (max-width: 500px) {
    .navbar_links{
        margin-top: 0;
        padding-right: 0;
    }   
}
 nav li{
    display: inline;
} 
.navbar_logo{
    /* margin: auto; */
    padding: 20px 0;
}
.principal{
    width: 100%;
    text-align: center;
}
.lista li{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-sizing: border-box;
    /* forma abreviada del borde border: 2px solid color */
    border-width: 2px;
    border-style:solid;
    border-color: #000000;
    border-radius: 15px;
}
.lista li:hover {
    border: 3px solid #e90000;
    box-shadow: 2px 0px 0px #000000,
                0px 2px 0px #000000,
                -2px 0px 0px #000000,
                0px -2px 0px #000000;
    font-size: 33px
}
.lista li:active{
    border: 3px solid #000fff;
}

.lista h2{
    font-size: 30px;
}
/* aplicar el hover a todo el h2 a en el momento que ponga el cursor encima de la imagen */
.lista li:hover h2{
    font-size: 33px;
} 
.lista_precio{
    margin-top: 5px;
    font-size: 22px;
}
.lista_descripcion{
    font-size: 18px;
}

footer{
    text-align: center;
    background-image: url(imagenes/bg.jpg);
    padding: 40px;
}
.footer_copyright{
    font-size: 18px;
    color: #ffffff;
    margin: 20px;
}